@import "../../../styles/mixins";
@import "../../../styles/vars";

.userInfoBlock {
  position: relative;
  @include flexCol(flex-start, flex-start);
    gap: 15px;
    min-width: 320px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.03) 0%, rgba(153, 153, 153, 0.03) 100%);
    border-radius: 15px;
    padding: 15px;

  &__avatar {
     width: 50px;
     height: 50px;
     cursor: pointer;
     border-radius: 6px;
 }

  &__userName {
    @include setFont(22px, 500);
    font-family:  $font-fam-exo2;
    cursor: pointer;
    margin-bottom: 5px;
  }

  &__rank {
    display: flex;
    gap: 28px;
  }

  &__rankPosition {
    @include flexCol();
    gap: 5px;
    text-transform: uppercase;

    &_rankAnim {
     width: 20px !important;
      margin-right: 5px;
    }

    &_logoAnim {
      width: 20px !important;
      height: 20px !important;
      margin-right: 5px;
    }
  }
}